
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

input:focus{
    outline-style: none;
    box-shadow: none;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    font-size: 15px;
     font-family: 'Poppins', sans-serif;
     background-image: url('BG.png');
    text-align: center;
    
}

.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    height:560px;
    width:400px;

}

.Log-in-area{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#Email{
    
    border-bottom: solid; 
    border-style: none none solid;
    background-color: transparent;
    margin:15px;
    padding:0.75px;
}

#Password{
    
    border-bottom: solid; 
    border-style: none none solid;
    background-color: transparent;
    padding:0.75px;
}
#sub-btn{
    margin-top: 60px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgba(14, 141, 179, 0.793);
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  h1{
    font-size: 55px;
  }