
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

input:focus{
    outline-style: none;
    box-shadow: none;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img{
  transform: translate(400.6px,-83px);
  border-top-right-radius:5% ;
  border-bottom-right-radius: 5%;
  height: 560px;
  width:420px;
  background-color: rgba(207, 207, 207, 1);
  box-shadow:
    26px 11px 26px 11px rgba(0, 0, 0, 1),
    34px 11px 13px 10px rgba(77, 73, 73, 1);
  transition: transform 237ms ease-out;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}


body{
  height: 100vh;
    font-size: 15px;
     font-family: 'Poppins', sans-serif;
     background:linear-gradient(#44008b,#9f45b0,#e54ed0);
    text-align: center;
    overflow-y: hidden;
    
    
}

.container{
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2.5px;
    margin-bottom: 2.5px;
    top:50%;
    left:50%;
    transform: translate(-90%,-50%);
    background-color: transparent;
    height:560px;
    width:400px;
    background-color: white;
    border-top-left-radius:5% ;
  border-bottom-left-radius: 5%;
  border: 0px solid rgba(100, 100, 100, 1);
  box-shadow:
    26px 11px 26px 11px rgba(0, 0, 0, 1),
    34px 11px 13px 10px rgba(77, 73, 73, 1);
  transition: transform 237ms ease-out;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0px);
  

}

.Log-in-area{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#Email{
    
    border-bottom: solid; 
    border-style: none none solid;
    background-color: transparent;
    margin:15px;
    padding:0.75px;
}

#Password{
    
    border-bottom: solid; 
    border-style: none none solid;
    background-color: transparent;
    padding:0.75px;
}
#sub-btn{
    margin-top: 60px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgba(14, 141, 179, 0.793);
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
  }
  #sub-btn:hover{ 
    background-color: rgba(9, 96, 123, 0.993);
    transition-delay: 0.1s;
  }

  h1{
    font-size: 55px;
  }
.new-to-svv{
  display: flex;
  transform:translate(90px,-250px);
}
#snup{
  margin-left:3px;
  text-decoration: none;
}
.remme{
  transform: translate(100px,-260px);
}

